@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Paytone+One&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Main Styles */

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #4A7B66;
  padding: 1%;
  font-family: "Paytone One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#home{
  color: #fff;
  font-size:50px;
  text-decoration: none;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-weight: bold;
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

nav ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

nav ul li{
  margin: .7rem;
}

nav ul li a{
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-family: "Cabin", sans-serif;
  font-size: 36px;
  font-style: normal;
}

nav ul li a:hover{
  color: #1E4032;
}

a:hover{
  color: #1E4032;
}

a{
  color: #4A7B66;
  text-decoration: none;
}

body{
  text-align: center;
  color: #4A7B66;
  font-weight: bold;
  font-family: "Cabin", sans-serif;
  font-size: 36px;
}

h2{
  text-decoration: none;
  color: #1E4032;
  font-family: "Paytone One", sans-serif;
  font-size: 74px;
}

h3{
  text-decoration: none;
  color: #1E4032;
  font-family: "Paytone One", sans-serif;
  font-size: 64px;
}

h4{
  text-decoration: none;
  color: #1E4032;
  font-family: "Paytone One", sans-serif;
  font-size: 57px;
}


/* FOR CONTACT AND ABT
.noncentered{


}
*/


/* Page Styles */

.maincontent{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  flex-direction: column;
  margin: 0 auto;
}


.maincontent h3{
  margin: 3% 0 2% 0;
}

.maincontent h4{
  margin: 2% 0 2% 0;

}

.maincontent p{
  line-height: 47px;
  margin: 0 0 3% 0;
}



/* Media Queries */

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1439.98px) { 

}

/* Large devices (desktops, less than 1024px) */
@media (max-width: 1023.98px) { 

}

/* Medium devices (tablets, less than 744px) */
@media (max-width: 743.98px) { 

}

/* Small devices (landscape phones, less than 430px) */
@media (max-width: 429.98px) {

}

/* X-Small devices (portrait phones, less than 375px) */
@media (max-width: 374.98px) {

}